body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 80vh;
  width: 100%;
  position: relative;
}

#mapTitle {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgb(119, 175, 234);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend div {
  display: flex;
  align-items: center;
}

.legend span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
